<ion-grid>
<ion-toolbar>
			<ion-title style="text-align:center;">
				Login
			</ion-title>
		</ion-toolbar>
				<ion-item>
          <ion-label position="floating" >username</ion-label>
					<ion-input type="text"  [(ngModel)]='data.username'></ion-input>
				</ion-item>

				<ion-item>
            <ion-label position="floating" >password</ion-label>
					<ion-input type="password"   [(ngModel)]='data.password'></ion-input>
				</ion-item>
				<ion-button size="large" expand="full"  shape="round" (click)="doLogin()">Login</ion-button>
</ion-grid>
