<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Student List
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item *ngFor="let s of list">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>
       <ion-icon name="add-circle"></ion-icon> {{s.rollNo}}  <br>
       <ion-icon name="person"></ion-icon> {{s.firstName}} <br>
       <ion-icon name="person"></ion-icon> {{s.lastName}} <br>
       <ion-icon name="clipboard"></ion-icon> {{s.subject}} <br>
       <ion-icon name="calendar"></ion-icon> {{s.dob}} <br>
       <ion-icon name="play"></ion-icon> {{s.class}}<br>
       <ion-icon name="pin"></ion-icon> {{s.address}}<br>
       <ion-button (click)="studentDelete(s.rollNo);"> <ion-icon  size="large" name="trash"></ion-icon> </ion-button>
       <ion-button (click)="editStudent(s);"> <ion-icon  name="create" size="large"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
  </ion-content>
