<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        List Customers
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
   





<ion-card *ngFor="let c of list">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="information-circle-outline">
          
        </ion-icon>  {{c.id}} <ion-button size="small" (click)="">Edit</ion-button>
      </ion-card-subtitle>
  
      <ion-card-subtitle> <ion-icon name="person"></ion-icon> {{c.name}}  <ion-icon name="trash" color="danger"></ion-icon></ion-card-subtitle>
      <ion-card-subtitle> <ion-icon name="call"></ion-icon> {{c.phone}}</ion-card-subtitle>
      <ion-card-subtitle> <ion-icon name="mail"></ion-icon> {{c.email}}</ion-card-subtitle>
      <ion-card-subtitle> <ion-icon name="pin"></ion-icon> {{c.address}}</ion-card-subtitle>
  
    </ion-card-header>
    </ion-card>
  
  </ion-content>