<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-title>
  List Customers
</ion-title>
</ion-toolbar>
</ion-header>
<!-- <ion-icon name="trash" color="danger" size="small" (click)="deleteAllCustomers(customers)"></ion-icon> -->
<ion-content padding>
   
    <ion-card *ngFor="let c of list">
        <ion-card-header>
          <ion-card-title>{{c.id}}<br> <ion-icon name="person"></ion-icon> {{c.name}}  <br>
            <ion-button size="samll" (click)="onEdit(c);">Edit</ion-button> &nbsp;&nbsp;&nbsp;
            <ion-button  size="small" color="danger" (click)="deleteCustomer(c)">Delete</ion-button>
          </ion-card-title>
        <ion-card-content>
            <ion-icon name="mail"></ion-icon>  {{c.email}}<br> 
            <ion-icon name="call"></ion-icon> {{c.mobile}}<br> 
            <ion-icon name="pin"></ion-icon>  {{c.address}}<br> 
        </ion-card-content>
      </ion-card-header>
      </ion-card>
    </ion-content>